.header{
    position: fixed;
    top: 50px;
    right: 50px;

    .menu{
        position: relative;
        height: 650px;
        width: 480px;
        background-color: #c9fd74;
        border-radius: 25px;
    }

}